
@{
    ViewData["Title"] = "Index";
}

<h3>Index</h3>
@*<table cellpadding="2" cellspacing="2" border="1">
    <tr>
        <th>Total Amount To Pay</th>
    </tr>
    <tr>
        <td>@ViewBag.total</td>
    </tr>

</table>*@

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Total Amount To Pay</th>
            
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>@ViewBag.total</td>
        </tr>


    </tbody>

</table>

