
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
    <div class="row">
        <div class=" = " col-md-12">
            <div class="alert alert-danger">
                <strong>Danger!</strong> Ürün yok.
            </div>

        </div>
    </div>